<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1> About page!</h1>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Some Weather data</div>
    <div class="panel-body">
      <bars data="40,10,55,15,16,33,52,20"></bars>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">More space for Weather data</div>
    <div class="panel-body">
      asdasdas
    </div>
  </div>

</div>





